header {
    display: flex;
    background-color: aquamarine;
    color: blueviolet;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: darkslategray; */
    margin: 0;
}
#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); */
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    background-color: aquamarine;
    border-radius: 25px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

#start-quiz {
    width: 200px;
}

#high-scores {
    width: 80%;
    padding: 10px;
}

#timer {
    width: 20%;
    background-color: black;
    padding: 10px;
    
}

.hide {
    display: none
}

#qa-view {
    margin: 25px;
    font-size: x-large;
    

}